.all{
  position: relative;
}

.back{
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}

#myInput {
  font-size: 15px;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable tr:hover {
  background-color: #f1f1f1;
}
