.all{
  position: relative;
}

.back{
  background-color: white;
  margin-right: 60px;
  margin-left: 5%;
  margin-bottom : 5%
  margin-top: 0;
}

.thumbnail p{
  margin-top: 5px;
  margin-bottom: 5px;
  color:black;
}

.carousel-inner img{
  width: 100%;
}

.weight{
  background-color: #FAFAFA;
  padding-top : 15px;
}

.illness{
  background-color: #DEF0EC;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.btn {
  border: none;
  width: 100%;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
}

.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  display: block;
}
.site-h{
  font-size: 30px;
  position: relative;
  padding-top: 15px;
}
.site-h::before{
  content: "";
  left: 46%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fd7e14;
}


/*--------------*/


  .show {
    display: block;
  }

  .container-fluid {

    overflow: hidden;
  }

  .btn:hover {
  background-color: #ddd;
  }

  .btn.active {
    background-color: #666;
    color: white;
  }

  .glyphicon-search{
    font-size:30px;
  }

  .thumbnail {
    margin: 10px;
  }


  .name {
    display: block;
  }

  .gray_mask{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    margin : auto auto;
  }
  .youtube{
    margin : auto auto;
  }
  #popup{
    display:none;
    position:absolute;
    padding-left: 300px;
    padding-right: auto;
    margin : auto auto;
  }
  .container-fluid{
    width : 100%;
    padding-right : 15px;
    padding-left : 15ps;
    margin-left: auto;
    margin-right: auto;
  }
  .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .mb-4{
    margin-bottom: 1.5rem!important;
  }
  .p-4{
    padding : 1.5rem!important;
  }
  .justify-content-center {
    justify-content: center;
  }
  h1.site-h {
    max-width : 200px;
    margin : 10px auto;
  }


/*-------------------*/
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav input[type=text] {
    float: none;
    text-align: left;
    left: 35%;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }

  #myBtnContainer{
    clear: both;
  }
