@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Staatliches&display=swap');
*{

  font-family: 'Do Hyeon', sans-serif;
}
.cal{
  background-color : white;
  padding : 0;
  height : 1000px;
  padding-bottom: 500px;
}
.cals{
  margin-top : 100px;

}
.bmi{
  background-color : #F2F2F2;
  padding : 10px;
}
.formtext{
  width : 70px;
}
table{
  margin : 0 auto;
  text-align : left ;
}
.lab{
  width : 60px;
}

input{
  margin-right : 5px;
}
caption{
  caption-side : top;
}
h1{
  margin : 10px;
}

.all{
  padding-top : 5px;
  padding-bottom : 5px;
  background-size: cover;
  z-index:-1;
}
