@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Staatliches&display=swap');
*{

  font-family: 'Do Hyeon', sans-serif;
}


body, html {
      margin: 0;
      padding: 0;
    }
    /*--------------------------------------------------------------
    Menu
    --------------------------------------------------------------*/
    #menu {
          height: 100%;
          position: fixed;
          background-color: #C0C0C0;
          width: 300px;
          transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
          transform: translateX(100%);
          top: 0;
          right: 60px;
          z-index: 100;
        }

        #menu.expanded {
          transform: translateX(0%);
          right: 0px;
        }

        #menu a{
          color: #000;
        }

        #menu a:hover{
          text-decoration: none;
          color: #fff;
        }

        .menu-inner {
          width: 100%;
          height: 100%;
          position: relative;
          text-align: right;
        }

        .hamburger {
          left: 20px;
          position: absolute;
          width: 20px;
          height: 20px;
          top: 30px;
          margin-top: -10px;
        }

        .hamburger .line {
          width: 100%;
          height: 4px;
          background-color: #fff;
          position: absolute;
        }

        .hamburger .line:nth-child(2) {
          top: 50%;
          margin-top: -2px;
        }

        .hamburger .line:nth-child(3) {
          bottom: 0;
        }

        ul {
          padding: 0;
          list-style: none;
          width: 80%;
          margin-left: 10%;
          position: absolute;
          top: 10px;
        }

        ul li {
          color: #fff;
          padding: 20px 0;
        }

        div.out{
          width: 100%;
          height: 400px;
          background-color: #FFF;
        }
    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
#header {
  background-color: #333333;
  transition: ease-in-out 0.3s; /*전환 효과가 서서히 일어남*/
  height: 85px;
  display: flex;
  align-items: top; /*수직축 정렬 */
}

.back{
  padding-top: 10px;
  padding-bottom: 10px;
}

.h1_css{
  color: #fff;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
}

#header a:hover {
  line-height: 1;
  color: #565656;
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }
  #header .back {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*
home section css
*/

/*
body section css
*/

/*===body section css===*/
#myCarousel{
  width: auto;
  height: auto;
  margin-top: 5%;
  margin-left: 17%;
  margin-right: 17%;
}
#myCarousel p {
  font-size: 20px;
}

.workout{
  margin-right: 17%;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
}

p.title{
  position: relative;
  top: 3%;
  font-size: 45px;
  color: black;
  padding-top: 10px;
  padding-bottom: 5px;
}

p.content{
  position: relative;
  top: 7%;
  font-size: 22px;
  color: #64727B;
}
.work_bt{
  position: relative;
  top: 17%;
  background-color: transparent;
  border-color: #64727B;
  font-family: 'Do Hyeon', sans-serif !important;
}
.ctext{
  margin-left: auto;
  text-align: left;
}
.ctext a:hover{
  background-color: #6FBB66;
}
@media (max-width: 920px) {
  #myCarousel p {
    font-size: 10px;
  }

  #myCarousel h1 {
    font-size: 20px;
  }

  p.title {
    font-size: 25px;
  }

  p.content {
    font-size: 15px;
  }
}


#inner{
  align-items: center;
  width: 100%;
}
#jbody{
  width: auto;
  height: auto;
  margin-top: 10%;
/*  margin-left: 17%;
  margin-right: 17%;*/
  margin-bottom: 10%;
}

/*===footer section css===*/
#footer{
  margin-top: 0;
}
#jfooter{
  width: 100%;
  background-color: #222222;
  padding-right: 50px;
  text-align: left;
}

.footer_address{
  color: #BABABA;
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  left: 5%;
}

.footer_copy{
  color: #838383;
  padding-bottom: 70px;
  position: relative;
  left: 5%;
  font-size: 12px;
}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}

.m_back{
  margin-left: 10%;
  margin-right: 15%;
  background-color: white;
  padding-top: 100px;
  margin-bottom: -15px;
}
#header{
  position: fixed;
  top:0px;
  z-index: 2;
  width:100%;
}
#menu{
  z-index: 3;
  margin-top:-5px;
}



.carousel-indicators{
  bottom : -30px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
.carousel-inner .item span{
  font-style : nnormal;
}
.carousel-indicators li{
  border-color : #f4511e;
}
.carousel-inner .item h4{
  font-size :19px;
  line-height : 1.375em;
  font-weight : 400;
  font-style : italic;
  margin : 1000px 0;
}
.carousel-indicators li.active {
  background-color : #f4511e;
}
.row{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.diet-image img{
  opacity : 0.8;
}
.diet-image:hover img{
  opacity : 1;
}
.btn-primary {
  color: #212529;
  background-color: #fd7e14;
  border-color: #fd7e14;
}
.diet-content{
  color:gray;
}
.container{
  margin : 10px auto;
  max-width : 700px;
}
div.diet {
  margin-top: 200px;
  margin-bottom: 200px;
}
.diet-title{
  font-size: 20px;
}


 .thumbnail{
   padding-left: 5px;
   padding-right: 5px;
 }

 .thumbnail blockquote {
   display: block;
   font-size: 15px;
 }

 .thumbnail img{
   width: 100px;
   height: 100px;
 }
.item{
  margin : auto auto;
}
