#menu {
      height: 100%;
      position: fixed;
      background-color: #C0C0C0;
      width: 300px;
      transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
      transform: translateX(100%);
      right: 60px;
      z-index: 1;
    }

    #menu.expanded {
      transform: translateX(0%);
      right: 0px;
    }

    #menu a{
      color: #000;
    }

    #menu a:hover{
      text-decoration: none;
      color: #fff;
    }

    .menu-inner {
      width: 100%;
      height: 100%;
      position: relative;
      text-align: right;
    }

    .hamburger {
      left: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 30px;
      margin-top: -10px;
    }

    .hamburger .line {
      width: 100%;
      height: 4px;
      background-color: #fff;
      position: absolute;
    }

    .hamburger .line:nth-child(2) {
      top: 50%;
      margin-top: -2px;
    }

    .hamburger .line:nth-child(3) {
      bottom: 0;
    }

    #menu ul {
      padding: 0;
      list-style: none;
      width: 80%;
      margin-left: 10%;
      position: absolute;
      top: 10px;
    }

    #menu ul li {
      color: #fff;
      padding: 20px 0;
    }

    div.out{
      width: 100%;
      height: 400px;
      background-color: #FFF;
    }
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
background-color: #333333;
transition: ease-in-out 0.3s; /*전환 효과가 서서히 일어남*/
height: 85px;
display: flex;
align-items: top; /*수직축 정렬 */
}

.h_back{
padding-top: 10px;
padding-bottom: 10px;
}

.h1_css{
color: #fff;
}

#header * {
transition: ease-in-out 0.3s;
}

#header h1 {
font-size: 48px;
margin: 0;
padding: 0;
line-height: 1;
font-weight: 700;
font-family: "Poppins", sans-serif;
}

#header a:hover {
line-height: 1;
color: #565656;
text-decoration: none;
display: inline-block;
}

@media (max-width: 992px) {
#header h1 {
font-size: 36px;
}
#header .back {
display: flex;
flex-direction: column;
align-items: center;
}
}

#jfooter{
  width: 100%;
  background-color: #222222;
  padding-right: 50px;
}

.footer_address{
  color: #BABABA;
  padding-top: 50px;
  padding-bottom: 15px;
  position: relative;
  left: 5%;
}

.footer_copy{
  color: #838383;
  padding-bottom: 70px;
  position: relative;
  left: 5%;
  font-size: 12px;
}
