.filterDiv {
  text-align: center;
  margin: 2px;
  display:none; /* Hidden by default */
  overflow: hidden;

}
.container{
  overflow: hidden;

}
.show {
  display: block;
}


.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

hr{
  background-color: black;
  height: 1px;
}
.menu{
  padding-right: 10px;
  padding-left:10px;
  margin : 15px;
}
@media (min-width: 992px)
  .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
  }
  .container{
    margin : auto auto;
  }
.justify-content-center {
  justify-content: center;
}
@media (min-width: 992px)
.col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}
.mb-4{
  margin-bottom: 2.5rem ;
}
.u-image{
  display: block;
  border-radius : 0.5rem;
}
.lift {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width : 100%;
}
iframe{
  max-width : 100%;
  height : auto;

}
.row{
  display: flex;
  flex-wrap: wrap;
}

.up:hover{
  bottom : 10px;
}
